$black: rgb(28, 32, 34);
$bg-color: rgb(250, 250, 250);
$white: rgb(255, 255, 255);
$blue-color: rgb(62, 84, 163);
$lightblue-color: rgb(106, 190, 205);
$green-color: rgb(170, 215, 66);
$orange-color: rgb(244, 137, 37);
$red-color: rgb(237, 44, 73);
$yellow-color: rgb(241, 182, 4);
$desc-color: rgb(115, 115, 115);
$pink-color: rgb(207, 99, 144);
$aux-color-one: rgb(231, 235, 249);
$aux-color-two: rgb(115, 115, 115);

